<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          <h2>Log in</h2>
        </div>
        <div class="card-body p-3">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" },
                placeholder: "Email" %>
          <%= f.input :password,
                required: false,
                label: false,
                input_html: { autocomplete: "current-password" },
                placeholder: "Password" %>
          <!-- <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->



          <%= f.button :submit, "Log in", class: "btn btn-success btn-lg px-5" %>

          <% end %>
        </div>
        <div class="col-sm-6 mb-3">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>