<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1D4354; line-height: 2;">
  <div class="container">

    <!-- <a class="navbar-brand" href="#"><i class="fa fa-tasks"> </i> <b>Progress.</b></a> -->
    <%= link_to '<i class="fa fa-tasks"> </i> <b>Progress</b>'.html_safe, root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <%= link_to "About", about_path, class: "nav-item nav-link" %> -->
        <% if current_user %>
        <%= link_to "Settings", edit_user_registration_path, class: "nav-item nav-link text-white" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link text-white pl-4" %>
        <% else %>
        <%= link_to "Log In", new_user_session_path, class: "nav-item nav-link btn btn-outline-success text-white px-4 mx-2" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link btn btn-success text-white px-4" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>