<!DOCTYPE html>
<html>

<head>
  <title>Progress</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/navbar' %>

  <div class="container my-4 ">
    <%- flash.each do |name, msg| -%>
    <div class="alert alert-danger">
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
    <%- end -%>
  </div>



  <div class="container mt-3">

    <%= yield %>

  </div>


</body>

</html>